@import 'tailwindcss';

body{
    /* background: purple; */
    @apply bg-purple-900;
}

.notes-body{
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}